body{
    font-family: "Raleway", sans-serif;
}
h1{
    font-size: 40px; 
    text-align: center; 
    font-family: "Raleway", sans-serif;
} 
h2{
    font-size: 30px; 
    text-align: center; 
    font-family: "Raleway", sans-serif;
}
h3{
    font-family: "Raleway", sans-serif;
} 
h4{
    font-family: "Raleway", sans-serif;
}
h5{
    font-family: "Raleway", sans-serif;
}

    